<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>
    <!-- Your plant information content goes here -->
    {% extends "layout.html" %}
    {% block content %}
       <div class="plantInfo">
         <div class="container is-max-desktop">
            <div class="notification is-primary">
               <section class="section is-medium">
                  <h1 class="title">Plant species info coming soon.</h1>
                  <h2 class="subtitle">
                    A table including information about plant species bark, leaves, size, and more will be included here. 
                  </h2>
                </section>
            </div>
          </div>
       </div>
     {% endblock %}
</body>
</html>
